{% extends 'base.html.twig' %}

{% block title %}Annonce index {% endblock %}

{% block body %}



{% for annonce in annonces %}
	
<div class="card mb-3">
  <img src="{{ asset('/uploads/' ~ annonce.images[0].name) }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">{{annonce.titre}}</h3>
    <p class="card-text">{{annonce.contenu}}</p>
  <ul class="list-group list-group-flush">
		<li class="list-group-item"></li>
<li class="list-group-item">{{annonce.Prix}} DT</li>

<li class="list-group-item">created : {{ annonce.date ? annonce.date|date('Y-m-d') : '' }}</li>

<li class="list-group-item"><a href="{{ path('annonce_index') }}" class="card-link">back to list</a></li>
<li class="list-group-item"><a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="card-link">edit</a></li>
<li class="list-group-item"><a href="{{ path('annonce_show', {'id': annonce.id}) }}" class="card-link">show</a></li>

	</ul>
  </div>
</div>


	
{% endfor %}



		

{% endblock %}
